#quest {
    height: 100%;
}
.melsmaps-quest-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#quest .melsmaps-quest-tooltip-container {
    max-height: 98%;
    height: auto;
    overflow: auto;
    width: 480px;
	background-color: #1c1c1c;
	color: #d7d7d7;
	border: 3px solid #9d8355;
	border-radius: 5px;
	padding: 1em;
    margin: 0 19px 0 0;
}
#quest img.banner {
  width: 376px;
  height: 120px;
  display: block;
  margin: 0 auto 0.5em auto;
  box-shadow: 0 0 4px 4px #1c1c1c;
}
#quest div.questInfo img {
}
#quest div.questInfo > div {
  display: inline-block;
  margin: 0 0 2em 5px;
}
#quest div.questInfo h1 {
  font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
#quest div.questInfo p {
  font-size: 12px;
  margin: 2px 0 0 0;
  padding: 0;
  vertical-align: baseline;
}
#quest div.questInfo p > span:first-child {
    margin: 0 1em 0 0;
}
#quest div.questInfo p > span:nth-child(2) {
    color: gray;
}
div.questBlock * {
    margin: 0.5em;
    padding: 0;
    font-size: 12px;
}
#quest div.questBlock {
  background-color: #333333;
  border: solid 1px #3c3c3c;
  margin: 0 0 1em 0;
}
#quest div.questBlock h2 {
  background-color: #1f1f1f;
  color: #bfa34c;
  border: solid 1px #3c3c3c;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}
.llink {
    font-weight: bold;
    color: #73bfe6;
    line-height: 15px;
}
p.melsmaps-quest-seasonal {
  background-color: #4d3d1f;
  margin: 13px 0 19px;
  padding: 10px;
  color: #ffcc66;
  border: 1px solid #ffcc66;
  border-radius: 5px;
  text-align: left;
  line-height: 1.2;
  position: relative;
}
div.questBlock.requirements:after {
    content: "";
    display: table;
    clear: both;
}
div.questBlock.requirements h3 {
    color: #bfa34c;
    line-height: 15px;
}
div.questBlock.requirements > p {
    margin: 0 0 2em 0.5em;
}
div.questBlock.requirements h4 {
    background-color: #2e2e2e;
    color: #cdcdcd;
    margin: 0;
    padding: 0.5em;
    border-top: solid 1px #3c3c3c;
    border-bottom: solid 1px #3c3c3c;
}
div.questBlock div.halfBlock {
    width: 50%;
    margin: 0;
    float: left;
}
.imgAndTwoPs > img {
    vertical-align: middle;
}
.imgAndTwoPs > div {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.halfBlock.imgAndTwoPs > div > p {
    max-width: 164px;
}
.imgAndTwoPs > div > p {
    margin: 0.5em 0;
    padding: 0;
}
div.questBlock div.halfBlock p:first-child {
    color: #bfa34c;
    font-weight: bold;
}
div.questBlock.rewards > div {
    border-top: solid 1px #3c3c3c;
    border-bottom: solid 1px #3c3c3c;
    margin: 0;
}
div.questBlock.rewards > div:nth-child(even) {
    background-color: #2e2e2e;
}
div.questBlock.rewards > div:nth-child(odd) {
    background-color: #333333;
}