<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Triad - Combos</title>
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/intro.css">
<link rel="stylesheet" href="css/board.css">
<link rel="stylesheet" href="css/combos.css">
</head>
<body>
<div class="wide">
    <div>
        <p><div class="legend finisher"></div>Finisher</p>
        <p><div class="legend sometimes"></div>Card only sometimes in opponent's deck, so don't count on it.</p>
        <p><div class="legend OTHER"></div>Card from oponent's desk, so requires more luck to get in place</p>
    </div>
    <div>
        <h1>W Godbert Combos</h1>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card sylph finisher"></div></div>
                <div class="#8"><div class="card moogle me always"></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER always"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="sylph finisher"></div></div>
                <div class="#2"><div class="bomb me"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="bomb finisher"></div></div>
                <div class="#2"><div class="sylph me"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card sylph finisher"></div></div>
                <div class="#8"><div class="card urianger OTHER always"></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER always"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card moogle me finisher"></div></div>
                <div class="#2"><div class="card bahamut OTHER always"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card moogle me finisher"></div></div>
                <div class="#8"><div class="card hildibrand OTHER sometimes"></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER always"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card bomb finisher"></div></div>
                <div class="#2"><div class="card y'shtola sometimes"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card moogle me finisher"></div></div>
                <div class="#2"><div class="card titan sometimes"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="sylph finisher"></div></div>
                <div class="#2"><div class="gilgamesh OTHER sometimes"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card godbert OTHER "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="morbol finisher"></div></div>
                <div class="#2"><div class="hildibrand OTHER sometimes"></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
    </div>
    <div>
        <h1>S Godbert Combos</h1>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card sylph "></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card moogle me finisher"></div></div>
                <div class="#2"><div class="card godbert OTHER "></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div class="card moogle me "></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div class="card godbert OTHER "></div></div>
                <div class="#3"><div class="card morbol finisher"></div></div>
            </div>
        </div>
        <h2>Incomplete!</h2>
    </div>
    <div>
        <h1>Misc combos</h1>
        <h2>Incomplete!</h2>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card y'shtola sometimes"></div></div>
                <div class="#2"><div class="card bomb finisher"></div></div>
                <div class="#3"><div class="card urianger "></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div class="card y'shtola sometimes"></div></div>
                <div class="#2"><div class="card sylph finisher"></div></div>
                <div class="#3"><div class="card hildibrand OTHER sometimes"></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div class="card bomb finisher"></div></div>
                <div class="#9"><div class="card hildibrand OTHER sometimes"></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div class="card hildibrand OTHER sometimes"></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div class="card sylph finisher"></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card urianger "></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card moogle me finisher"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div class="card bomb finisher"></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div class="card urianger "></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card titan sometimes"></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card sylph finisher"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div class="card gilgash "></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div class="card sylph finisher"></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div></div></div>
                <div class="#3"><div></div></div>
            </div>
        </div>
        <div class="board-wrapper">
            <div class="board combo">
                <div class="#7"><div></div></div>
                <div class="#8"><div></div></div>
                <div class="#9"><div></div></div>
                <div class="#4"><div></div></div>
                <div class="#5"><div class="card minfilia always"></div></div>
                <div class="#6"><div class="card gilgash "></div></div>
                <div class="#1"><div></div></div>
                <div class="#2"><div class="card morbol "></div></div>
                <div class="#3"><div class="card moogle me finisher"></div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>