<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mel's Triad Guide</title>
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/intro.css">
        <link rel="stylesheet" href="css/board.css">
    </head>
    <body class="wide">
    <div class="intro">
    <h1>Welcome to Mel's Triple Triad guides!</h1>
        <h2>How to use the guide</h2>
        <img src="HowToUse.png" alt="Visual guide to this guide">
        <p>Play your cards in the order of the blue numbers. The left side will show the current board and the right side will show possible future paths. Click on the path that the opponent has played.</p>
        <p>If a card has a number but is blank, it means it doesn't matter which card the opponent plays in that slot (or another) just play your next card according to the next blue number.</p>
        <p>Click on an incomplete board to see paths from there.</p>
        <p>If one of your cards is highlighted in red, no dice, it's impossible to win when you reach that point. Still follow instructions as they'll lead to a draw if possible (instead of a loss).</p>
        
        <h2>King Elmer III<a class="button" href="Jackrabbit">=&gt;Straight to plays</a></h2>
        <p>This super annoying guy is at the Golden Saucer and possesses the much-desired Bahamut card.</p>
        <div class="single-card"><div class="bahamut"></div></div>
        <p>You will find strategies to beat him with the starter deck on the internet, but to maximize your chances of winning each hand, you will want the deck below.</p>
        <div class="single-card">
            <div class="minfilia"></div>
            <p>From Gegeruju (Costa del Sol [35, 30]) or Silver Triad Card</p>
        </div>
        <div class="single-card">
            <div class="sylph"></div>
            <p>From Maisenta (New Gridania [11, 11]) or Silver Triad Card</p>
        </div>
        <div class="single-card">
            <div class="morbol"></div>
            <p>From Roger (Central Thanalan [19, 20]) or The Aurum Vale</p>
        </div>
        <div class="single-card">
            <div class="bomb"></div>
            <p>From the starter deck</p>
        </div>
        <div class="single-card">
            <div class="moogle"></div>
            <p>From Jonas of the Three Spades (Golden Saucer), Trachtoum (Lower La Noscea [35, 15]) or Triple Triad Trader</p>
        </div>
        <p>The general strategy aims to exploit the <a href="https://arrtripletriad.com/en/how-to-play">Plus Rule</a>. You will set up two cards with a space in between, then bait Elmer to place his cards elsewhere on the board until turn 7 or 8, where you will place your card in the prepared gap to execute a combo and flip most of the board in your favor. Most of the interesting combos include Godbert, which Elmer usually plays to capture Minfilia, which has strong up and right sides. That means that a plus combo flipping Godbert will flip Minfilia, which will flip her top and right as well.</p>
        <p>I started with the plays in <a href="https://www.reddit.com/r/ffxiv/comments/4kdkoy/great_way_to_farm_king_elmer_to_get_your_bahamut/">this guy's post</a>, but Square has changed several things since then. Some of the strategies were changed from playing the combo on turn 9 to turn 7, other strategies were completely replaced since Elmer doesn't take the bait anymore, and new ones were added.</p>
        <p>If you get in those situations I don't cover and want to comb through the raw possibilities, you can look at the potential <a href="combos.html">plus combos</a>.</p>
        <a class="button" href="Jackrabbit">=&gt;See the plays</a>
    </div>
    </body>
</html>